<div class="container">
  <div class="row">
    <div class="col">
      <% @pokemons.each do |pokemon| %>
        <%#= url_for(pokemon.photo) if pokemon.photo.attached? %>
        <%= cl_image_tag pokemon.photo.key, width: 500, height: 500 %>
        <%= link_to pokemon.name, pokemon_path(pokemon) %>
      <% end %>
    </div>
  </div>
</div>
