<div class="container">
  <div class="row">
    <div class="col">
      <% @trainers.each do |trainer| %>
        <%= cl_image_tag trainer.photo.key %>
        <%= link_to trainer.name, trainer_path(trainer) %>
        <%= trainer.age %>
      <% end %>
      <%= link_to "Create a new trainer", new_trainer_path %>
    </div>
  </div>
</div>
